@import "~bootstrap/less/bootstrap.less";
@import "~bootswatch/paper/variables.less";
@import "~bootswatch/paper/bootswatch.less";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import "events.less";

@material-light-blue:   #03A9F4;

// Override today highlight
.rbc-today {
  background-color: fadeout(@material-light-blue, 90%);
}

body {
  padding-top: 80px;
}

.submit-button-right {
  float: right;
}
