node_modules/
src/main/resources/static/*
!src/main/resources/static/index.html
*log
web/
client/mock/

target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.env

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.vscode
### Jest ###
client/__tests__/__snapshots__/
*.snap
